name: pages

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.13"
      - name: Cache MkDocs Material
        uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ hashFiles('mkdocs.yml') }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - run: uv run mkdocs gh-deploy --force
